[2016-09-11 13:23] aoloe opened #1 "gpl 2"
scribus is distributed under the gpl 2 license... i don't think that the team will be willing to integrate code under the gpl 3... since this would mean upgrading the license...

(as far as i understand it, the license says that you can redistribute scribus unter gpl 2 or later, but if they include code with gpl 3, the license has to be changed as gpl 3 or later... but i might be mistaking).

you

[2016-09-11 13:37] nitramr commented on #1
My mistake, license file has been removed from branch.

[2016-09-11 13:54] nitramr commented on #1
I have changed the license of the included IndigoDock files to GPL 2.

[2016-09-11 13:54] #1 closed

[2016-11-03 12:42] luzpaz opened #2 "Activate travisci for this repo"
@nitramr this is awesome. Lets get TravisCI started for this: check out https://docs.travis-ci.com/user/getting-started/#To-get-started-with-Travis-CI%3A

It's simple and steps 3 and 4 are already done.

[2016-11-03 22:46] luzpaz commented on #2
@nitramr just sign up for travisci and I'll take care of the rest. Then we can use it to see errors/warnings whenever new code is merged or proposed via Pull Request

[2016-11-04 11:49] nitramr commented on #2
Hi Luzpaz, thanks for helping out. Step 1 and 2 are done.

[2016-11-04 12:43] luzpaz commented on #2
awesome. So quick question:
can you pull in the latest changes from scribus trunk and maintain the work you've already done ?
I ask because of 2 commits:
https://github.com/scribusproject/scribus/commit/fafe5f5b115420f1dcac3a28eb3de57c36feaf8a
&
https://github.com/scribusproject/scribus/commit/57a4f7257060692e31ae3f51944d99cdd6cc3c22

[2016-11-04 12:56] luzpaz commented on #2
I altered the badge to reflect the build of this repo in PR https://github.com/nitramr/scribus-indigo/pull/3

[2016-11-04 18:42] nitramr commented on #2
I have copied the current scribus code base from today and merged my changes to it. My local compiling was succesfully.

[2016-11-05 12:04] #2 closed

[2016-11-05 13:34] nitramr opened #5 "Missing Tab Icon"
1. Drag out a panel and drop it in empty space
2. panel is docking in a new dock without tabbar (dock switch in single mode)
3. drag in a second panel
→ icon of first panel is missing

hide and show of first panel bring back the icon in tab bar.

[2016-11-05 13:38] nitramr opened #6 "Tab Icon wrong order"
1. If more than 1 icon is visible in tab bar pull down any icon below the last one and release the mouse
→pulled icon jumps on top of tab bar

Happens only if there are some hidden panels

[2016-11-05 13:44] nitramr opened #7 "Dock container doesn't update size"
1. dock is docked in vertical direction (left or right), panel height of visible panels is higher than screen height (scrollbar is visible)
2. bring dock in horizontal direction (top or bottom)
3. bring dock back in vertical direction (left or right)
→panel height doesn't update right and space between panels is missing

click on any tab icon to get the right height.

[2016-11-05 13:50] nitramr opened #8 "Hidden dock mark panels as shown"
1. close a dock with visible panels inside
2. check Window menu
→ panels are marked as visible

[2016-11-05 14:51] nitramr commented on #8
Solved. Dock can't close separately. Visibility of a dock depends on visible panels inside.

[2016-11-05 14:51] #8 closed

[2016-11-05 16:28] probonopd opened #10 "Provide continuous builds for download as AppImage"
Currently each commit gets built on Travis CI but then the build artefacts are thrown away.
What a waste ;-)

Lets bundle them up as an [AppImage](http://appimage.org/) for Linux and provide them for download - thus, enabling a very easy way to get and test each build!

It should be relatively straightforward to apply [this patch](https://github.com/HOST-Oman/scribus/pull/194) I had done earlier f

[2016-11-05 21:36] nitramr commented on #10
Travis CI has troubles to create the template folder for AppImage package.
https://travis-ci.org/nitramr/scribus-indigo/jobs/173537020

Any ideas how to fix?

[2016-11-05 21:39] probonopd commented on #10
Looks like an issue with Scribus not directly related to AppImage, is it trying to install the templates to the non-existing `/usr/share/scribus` rather than to the existing `$HOME/Scribus/Scribus.AppDir/usr/share/scribus`.

[code]

Maybe need to use `cmake . -DCMAKE_INSTALL_PREFIX=$HOME/Scribus/Scribus.AppDir/usr/` in `.travis.yml` rather than relying on `make install DESTDIR=/home/travis/$APP/$A

[2016-11-06 01:19] nitramr commented on #10
Works! I have copy and pasted the files from Oman project. Here the first AppImage: https://transfer.sh/np7R2/scribus-git2ceac8c-glibc2.14-x86-64.appimage

[2016-11-06 01:28] probonopd commented on #10
On Fedora 25 `Fedora-Workstation-Live-x86_64-25-20161105.n.0.iso`, something about the bundled Python is wrong:

[code]

[2016-11-06 01:32] nitramr commented on #10
Yes, seems like so. On Ubuntu it looks different as my local installation. Also some icons are missing.

[2016-11-06 01:32] probonopd commented on #10
Probably we need to patch more absolute hardcoded `/usr` paths away. Let me test.

[2016-11-06 01:41] probonopd commented on #10
Try copying `usr/lib/python2.*/` into the AppImage.
Then your AppImage runs for me :+1:

[2016-11-06 12:47] #5 closed

[2016-11-06 12:48] nitramr commented on #5
fixed

[2016-11-06 12:49] nitramr commented on #7
fixed in e1e779f880c678cfcdc17f771e58b6edf9d41578

[2016-11-06 12:50] #7 closed

[2016-11-06 13:53] luzpaz opened #11 "Relevant(?) build warnings for e1e779f880c678cfcdc17f771e58b6edf9d41578"
Not sure if these are triggered by scribus-indigo code. I posted them here anyway.

[code]

[code]

[code]

[code]

[code]

[2016-11-06 14:29] nitramr commented on #6
fixed in 99d6f578c10710955e798663ed9619594132a860

[2016-11-06 14:29] #6 closed

[2016-11-06 14:33] nitramr commented on #11
Should not be related to my changes.

[2016-11-06 14:43] nitramr opened #12 "Plugin Panels location not saved by restart"
Panels which comes from a plugin like "Custom Shapes" won't support correct by loadWorkspace() function.

It is only affected to:
- dock
- panel order

It is not affected to visibility of the plugin panel

[2016-11-06 15:36] #11 closed

[2016-11-07 11:56] luzpaz commented on #10
@probonopd How do we provide a link to the latest appimage (instead of telling people manually to find and click on it in the travisCI logs) and it would be awesome if it could be in 'shield' format (see https://github.com/probonopd/AppImageKit/issues/274) ?

EDIT: clarity

[2016-11-07 17:47] probonopd commented on #10
@luzpaz one way to do it would be using GitHub Releases using a small uploader script along the lines of https://github.com/probonopd/uploadtool. Could then use a shield from https://shields.io/ for GitHub Releases.

[2016-11-07 22:20] luzpaz opened #13 "On launch PP does not load in to a sidebar(horizontal or vertical) and will open to maximum window size"
Manjaro 16.10 Qt5.7 Build 99d6f578c10710955e798663ed9619594132a860
Testing via Appimage

How to reproduce:
1. open scribus-indigo
2. Cancel' Open New Document' window
3. Press F2
Result: PP opens in dialog in the center of the screen
4. Double click dialog title
Result: Expands the full length and width of the screen
5. Double click dialog title
Result: returns to center of screen
6. move dialog b

[2016-11-07 22:23] luzpaz commented on #13
Just noticed that in the terminal there is a error:
`QXcbConnection: XCB error: 3 (BadWindow), sequence: 699, resource id: 9055131, major code: 40 (TranslateCoords), minor code: 0`

[2016-11-07 22:34] luzpaz commented on #10
@probonopd that is f'ing brilliant
@nitramr would you consider following those instructions? https://github.com/probonopd/uploadtool#usage

[2016-11-07 23:03] nitramr commented on #10
Is updated. lets what happens after compiling of Travis.

[2016-11-07 23:24] luzpaz opened #14 "Is there a reason why you aren't using the latest Qt Creator 4.1.0 ?"
I saw in the last commit that you're using Qt Creator 3.6.1
https://github.com/nitramr/scribus-indigo/commit/4f0e6ad68e1de4aac2ca3dc507dc87e0d1e05e2c#diff-780546f5e957f70a5e8165859dfbb404R3

[2016-11-07 23:52] luzpaz commented on #10
So cool! I just saw https://github.com/nitramr/scribus-indigo/releases/tag/continuous
I'm downloading in order to test. Very exciting

[2016-11-08 00:00] nitramr commented on #10
Could it be that we have now an endless loop?

I could see that Travis compile the same commit more than one time.
https://travis-ci.org/nitramr/scribus-indigo/builds

[2016-11-08 00:03] nitramr commented on #10
There is an error.

$ ls -lh out/*
ls: cannot access out/_: No such file or directory
after_success.2
$ wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
--2016-11-07 23:40:51--  https://github.com/probonopd/uploadtool/raw/master/upload.sh
Resolving github.com (github.com)... 192.30.253.113, 192.30.253.112
Connecting to github.com (github.com)|192.30.253.113|:443... connected.
H

[2016-11-08 08:00] probonopd commented on #10
Instead of `out/*`, point upload.sh to the AppImage...

[2016-11-10 22:08] luzpaz commented on #14
@nitramr  I understand that Qt Designer has been improved in Qt4.1.0

[2016-11-10 23:23] luzpaz commented on #10
@nitramr when you get a moment can you try the above?

[2016-11-11 00:11] nitramr commented on #14
The only reason is I have not updated to Qt 5.7. Now, my system is up to date. Thanks for the hint.

[2016-11-11 00:31] luzpaz commented on #14
:+1:

[2016-11-11 00:31] #14 closed

[2016-11-11 01:39] gregp-scribus opened #15 "add some info to about.cpp"
I think it would be good for you to edit about.cpp so you identify this as a github work in progress, and update the date when you see fit.

[2016-11-11 01:42] nitramr commented on #10
I have absolute no idea what is to do. How can I point to the AppImage? As I understand it right the file name of the AppImage will random generated.

[2016-11-11 21:13] luzpaz commented on #10
it looks like it works now :+1:
Only thing is if we can tweek the release text to explain what the file is (an appimage)

[2016-11-11 21:29] luzpaz opened #16 "rogue horizontal lines appear across canvas"
Manjaro 16.10 ~Qt 5.7~ Build  https://github.com/nitramr/scribus-indigo/commit/571247bb26225c218e9ef55b8ab5181f248e4261 (using the appimage to test)
1. open and place a sidebar menu like action-history
2. open new document
Result: see lines
3. close document
Result: see remnants of the lines

See gif
![indigo](https://cloud.githubusercontent.com/assets/4140247/20230838/0973263c-a82c-11e6-9c3a-d243

[2016-11-11 21:39] gregp-scribus commented on #15
Here is something I tried, which is easy
Change Line 122 in about.cpp to
    QString BUILD_NAME = "Scribus Indigo Dock";
What you see then in the About - Scribus dialog:
Scribus Version 1.5.3svn "Scribus Indigo Dock"

Lines 117 and 118 could also perhaps reflect some particular pertinent date:
    QString BUILD_DAY = "18";
    QString BUILD_MONTH = CommonStrings::september;

[2016-11-11 21:41] luzpaz opened #17 "Travis OSX build is failing..."
because it's exceeding the maximum compile time for travis. So I think we should remove OSG from both Linux and OSX because it's taking time to download it and both of the builds are throwing a lot of warnings. I'll open an PR soon to do this.

[2016-11-11 21:54] luzpaz commented on #15
Exactly, check https://github.com/scribusproject/scribus/commit/00295c2b494d5ed7926145065fdfb6b823491679

[2016-11-11 23:25] nitramr commented on #17
Fixed

[2016-11-11 23:25] #17 closed

[2016-11-11 23:26] nitramr commented on #15
Done

[2016-11-11 23:26] #15 closed

[2016-11-12 00:32] gregp-scribus opened #19 "can't get appimage to work"
I get these messages on Fedora 24:

Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
ImportError: No module named site
Scribus Crash
-------------
Scribus crashes due to Signal #11
Segmentation fault (core dumped)

[2016-11-12 00:36] nitramr commented on #19
I have to find a way to add python libs to the appimage.

[2016-11-12 00:36] luzpaz commented on #19
@probonop please advise

[2016-11-12 00:36] luzpaz commented on #19
err i meant @probonopd

[2016-11-12 00:37] gregp-scribus commented on #19
is there anything I can add to the command?
why can't it use my python libs?

[2016-11-12 07:01] probonopd commented on #19
Which version of Python is installed on your system?

[2016-11-12 11:45] luzpaz opened #20 "TODO: Add github release Shield to README"

[2016-11-12 11:47] luzpaz opened #21 "Add screenshots/animated gifs to README"
demonstrating how development is going.

[2016-11-12 11:48] luzpaz commented on #16
Can anyone reproduce this issue?
CC @gregp-scribus

[2016-11-12 12:10] nitramr commented on #16
Not on Ubunut 16.04. I have removed the ".scribus" folder in home folder at first to get a "fresh" system.

[2016-11-12 12:17] nitramr opened #22 "Media Files for Readme"
![dark theme](https://cloud.githubusercontent.com/assets/15112256/20237700/4d04e1de-a8da-11e6-8828-d0b25ceee49c.png)

[2016-11-12 12:24] nitramr commented on #21
done

[2016-11-12 12:24] #21 closed

[2016-11-12 14:09] gregp-scribus commented on #16
I'm not seeing this on fedora 24.

[2016-11-12 14:09] gregp-scribus commented on #19
python-2.7.12

[2016-11-12 14:10] probonopd commented on #19
That is strange. I assume that Python is working outside of the AppImage?

[2016-11-12 14:41] gregp-scribus commented on #19
Of course. Maybe it has something to do with setting system variables?

[2016-11-12 14:48] probonopd commented on #19
Possibly. Although we are only prepending to `$PYTHONPATH` which normally should not hurt if I am not wrong.

[2016-11-12 15:01] gregp-scribus commented on #19
Maybe I'm getting somewhere.
In the konsole, I typed "export PYTHONHOME=/usr/lib/python2.7" then ran the appimage again.

Now the only warning before crash is "No module named site"
??

[2016-11-12 15:21] gregp-scribus commented on #19
Can't seem to get around this No module named site.
Ideas from googling are not helping.
I can find a "site.py" in /usr/lib64/python2.7/, but not in /usr/lib/python2.7/.
Perhaps that's the reason, but seems insurmountable.

[2016-11-12 15:49] gregp-scribus commented on #19
TA-DAAAAA!
Here is what I needed to do in command line:
export PYTHONPATH=/usr/lib64/python2.7

[2016-11-12 15:54] probonopd commented on #19
Ah, interesting! Is PYTHONPATH set to something by default in your distribution?

[2016-11-12 16:00] gregp-scribus commented on #19
Must be set to something wrong, but it didn't seem to be set to anything.
When I entered $PYTHONPATH in the commandline, got nothing.
As I check this out, it seems that PYTHONPATH is where the system looks for extra modules. It looks like, at least in fedora 24, /usr/lib/python2.7 has a different structure from /usr/lib64/python2.7. In the former, /usr/lib/python2.7 has no modules, only the direct

[2016-11-12 16:06] probonopd commented on #19
Would still be nice to find a solution that solves this inside the AppImage. One solution would be to bundle Python and its standard library inside the AppImage, thus becoming entirely independent from the system Python. This type of issue comes from the fact that every distribution insists on naming stuff slightly differently and putting stuff into slightly different places. One reason more why I

[2016-11-13 16:30] gregp-scribus commented on #19
A side effect seems to be that if I run this appimage, then my "regular" Scribus builds can't find python.
I think I'll just stay with the building my own method.

[2016-11-14 20:53] luzpaz opened #23 "sidebar menu names are truncated"
"Align and Distrib" and "Action Histo"
See gif
![sidebar-menu-names-truncated](https://cloud.githubusercontent.com/assets/4140247/20282306/35ce614e-aa82-11e6-89ea-6e3e3e5e6489.png)

Manjaro 16.10
scribus-indigo https://github.com/nitramr/scribus-indigo/commit/43554ee171eff90ffc93060aa3ef854ab60fbd01

[2016-11-14 21:13] nitramr commented on #23
I see, the text in panel header will paint in eventPaint() function. Maybe there is a wrong calculation of font width. I will check it.

Is it a pixel perfect screenshot or do you use a retina display? I see that all control elements are totally wrong scaled.

[2016-11-14 21:18] luzpaz commented on #23
yea.. i'm not on retina... but I am on a HiDPI laptop and i need to scale Qt artifically
so that may be an issue
Here is how I invoke the binary:
`[user@beast Downloads]$ QT_SCALE_FACTOR=0.786 ./scribus-git43554ee-glibc2.14-x86-64.appimage`

[2016-11-14 22:49] nitramr commented on #23
Ok, font width should be fixed. Label width will calculate of available space and not on text width and I made the font size dynamic based on the settings in preferences.

Let's wait when Travis CI is done.

[2016-11-15 11:42] nitramr commented on #23
Please, try out. https://transfer.sh/5tjbi/scribus-git4b9541e-glibc2.14-x86-64.appimage

[2016-11-15 11:46] nitramr commented on #13
I can't reproduce it on Ubuntu 16.04. Property panel is shown inside the dock.

[2016-11-15 11:49] nitramr commented on #16
@luzpaz is it still reproduceable on your system with the latest appimage?

[2016-11-15 11:52] luzpaz commented on #16
will check later today :)

[2016-11-15 12:00] luzpaz commented on #16
I still see them (not exactly the same as before) when I invoke with
`QT_SCALE_FACTOR=0.786 ./scribus-git4b9541e-glibc2.14-x86-64.appimage`
But if i just invoke the appimage by itself I don't see them. So I think you can close this issue.

[2016-11-15 12:01] luzpaz commented on #23
Thanks Martin!
You fixed it in https://github.com/nitramr/scribus-indigo/commit/4b9541eb3c24bc1ba4c1e8f34f8af2cb58b45d56

[2016-11-15 12:01] #23 closed

[2016-11-15 12:59] #16 closed

[2016-11-15 16:15] luzpaz opened #24 "wiki typo"
Unofficial

[2016-11-15 16:19] luzpaz commented on #24
Possibilities:

or

or

[2016-11-15 16:40] nitramr commented on #24
thanks, fixed.

[2016-11-15 16:40] #24 closed

[2016-11-16 12:25] luzpaz commented on #13
@gregp-scribus can you reproduce ?

[2016-11-16 19:31] gregp-scribus commented on #13
Not sure which version I'm using, but I don't see this. When I started it, my PP was in the left dock where I left it. I closed PP, closed Scribus and restarted. When I opened PP after restarting, it opened in the left dock.
My version is one or two before "Scribus Indigo Dock" was added to the About > Scribus dialog.

[2016-11-16 20:53] nitramr commented on #13
@gregp-scribus  sounds like the wanted behaviour. If you close  a panel and close Scribus afterwards the workspace will save for the next start.

If the behaviour is different it can help to delete the settings folder. Because in old settings file the data will store in another way for restoring. You can try it in the lates built from today: https://transfer.sh/153JzN/scribus-gita9d1218-glibc2.14-

[2016-11-17 04:43] luzpaz commented on #17
Build still fails on some attempts (https://travis-ci.org/nitramr/scribus-indigo/jobs/176443094)
Investigate why....

[2016-11-17 07:58] MrB74 opened #25 "Themes must retain platform styling"
Hi Tim

With your changes to the theme selector, the GUI is now missing the Mac style. We need to keep the ability to let people use the pure platform styles somehow. Therefore, we also need theming to work, eg in Mac style applied to the new dock and palettes. I'm also open to a pure "indigo style", akin to Qt Creator's own style.

thanks
Craig

[2016-11-17 19:39] nitramr commented on #25
Hi Craig,

I brought back the system themes. Default is "Scribus Dark" theme, but in perferences you can switch to native styles which are supported by your system.

All non system themes will automatic based on Fusion-Style + additional QSS Styles, like my new themes.
Fusion is most styling freindly. If someone wants customize the native styles it is possible via "stylesheet.css" in application f

[2016-11-18 01:38] gregp-scribus commented on #19
using the latest appimage from Nov 16, everything seems to work Ok now. There was a problem with icons not being found, and this is fixed now too.
The Scribus Light theme doesn't work for me, since the icons are almost impossible to see against the background. Dark and Darker work Ok.

[2016-11-18 03:22] luzpaz commented on #25
This is very exciting. I think people will appreciate this. Especially if we make it easy for them to add their own icons. Very cool @nitramr

[2016-11-18 07:10] nitramr commented on #19
Did you switch the icon set to dark as you use the light theme? You can set themes and icons independent. Default is dark theme and light icons.

[2016-11-18 12:49] luzpaz commented on #13
@nitramr i need to fix this ongoing issue of gtk3 and hidep problems on Manjaro to fully test this appropriately. Is there a way to start scribus up using a different prefs file or perhaps I should i nuke `~/.scribus/` ?

[2016-11-18 17:01] nitramr commented on #25
@luzpaz for the custom theme files I have modified the logic which loads images from css file. You can put any image which you want from current icon set in to the css files. The system generates an absolute path based on selected iconset.

I can rollout this logic for the default stylesheet.css too.  :)

[2016-11-18 17:08] nitramr commented on #13
I can try to set a new settings path like ~/.scribus-indigo/

Scribus Indigo will store the settings there independent of the regular installed Scribus. Otherwise if you want to have a clean Scribus Indigo now, you can delete the whole settings folder (~/.scribus/). If you want to delete only the workspace settings remove following file in ~/.scribus/
- prefs150.xml

and following file for all oth

[2016-11-18 17:20] gregp-scribus commented on #13
And maybe save your original: mv .scribus .scribus.bak

[2016-11-18 17:33] luzpaz commented on #13
What would be nice is if https://bugs.scribus.net/view.php?id=13248 was implemented...especially for testers who are testing multiple builds

[2016-11-18 21:24] eudoxos opened #26 "Opening disabled folds in Properties - single and double clicks."
When I create e.g. a freehand curve, then its "Text" property fold is disabled. When I click once, it does not open; when I click twice, it opens and closes immediately; when I double-click, but hold the second click and drag inside the pane which just opened, it stays open. Not sure if that is intentional, but I find it a bit surprising. It is also not very clear to me visually that the fold is d

[2016-11-18 22:12] nitramr commented on #26
Hi @eudoxos, I have checked your decribed case in official Scribus 1.5.3. it is the same here. But interesting behavior.

In next step I will redesign the panel contents. One of the ideas is to hide the disabled sections completely, because you can't make a setting here and it waste space.

[2016-11-19 09:25] stefanhusmann opened #27 "Program hangs when opening script dialog without open document"
Start scribus, click "Scripter" without opening a document. You will get an error message "You need a Document open", which cannot be closed. You have to kill scribus forcefully.

[2016-11-19 10:52] luzpaz commented on #27
I can reproduce this on scribus-svn (Latest HEAD). Will open a bug report on bugs.scribus.net. Thanks @stefanhusmann

[2016-11-19 10:53] nitramr commented on #27
I can confirm it. But it is only for the script, "autoquote". All others have a ok button to close the dialog.

I have filed a bug, because it is in Scribus nightly built too.
https://bugs.scribus.net/view.php?id=14376

[2016-11-19 10:55] luzpaz commented on #27
@nitramr haha.. nice :+1:  I'll confirm your bug

[2016-11-19 10:56] #27 closed

[2016-11-19 11:07] nitramr opened #28 "Add theme issues here"
Add here all issues which you can find in the dark, darker or light theme.

- scripter editor background have to be brighter (dark themes)
- selected item in combobox has black background (unusable for light themes)
- light icons have less color difference if disabled -> reason is the light grey is similar the disabled grey
- style for progress bar (down right corner) look crappy

[2016-11-19 11:25] luzpaz commented on #28
@nitramr you can use markup checkboxes for this as well (remember to add 2 whitespaces at the end of a line so that the next checkbox on the new line is recognized. Format is:
`- [ ] sentence goes here`
- [x] scripter editor background have to be brighter (dark themes)
- [x] selected item in combobox has black background (unusable for light themes)
- [x] light icons have less color difference if d

[2016-11-19 12:34] luzpaz commented on #27
jean offered a fix in [r21521](https://www.scribus.net/websvn/comp.php?repname=Scribus&compare[]=/@21520&compare[]=/@21521)

[2016-11-19 14:38] nitramr commented on #27
fix applied too.

[2016-11-19 21:21] gregp-scribus commented on #13
What I see on Fedora 24/KDE is some pickiness that is involved with docking but not failure to dock. Even with switching back and forth from scribus-indigo and 1.5.3svn, I don't see either one messing up the other.
When I start indigo the PP is docked to the left. If I drag it out, I usually can't get it dock somewhere else unless I let it go then click-drag again. The place that triggers the dock

[2016-11-19 21:39] nitramr commented on #13
Yes, if you drag a panel out of a dock you can't dock it directly to an edge. You have to drop it to create a new container which you can dock on any edge you want. Or you can drop it in an existing dock container.

[2016-11-20 00:34] nitramr commented on #28
- [x] tabulator widget background has window color -> should be white or text inverted
- [x] Story Editor style menu background should be base.

[2016-11-20 10:56] nitramr commented on #22
Promotion Material. Scribus Indigo Dark.
![scribus 1 5 3 svn - indigo dark](https://cloud.githubusercontent.com/assets/15112256/20462261/55a690be-af18-11e6-931b-a3e5226bcf53.png)

[2016-11-20 11:10] nitramr commented on #22
![scribus 1 5 3 svn - indigo light](https://cloud.githubusercontent.com/assets/15112256/20462316/427e95ca-af1a-11e6-9bbb-3d2dc0cf6cac.png)

[2016-11-20 11:10] nitramr commented on #22
![scribus 1 5 3 svn - indigo dark](https://cloud.githubusercontent.com/assets/15112256/20462317/4aec0580-af1a-11e6-9a46-65ff81933292.png)

[2016-11-20 11:10] nitramr commented on #22
Promotion Material. Scribus Indigo Darker.
![scribus 1 5 3 svn - indigo darker](https://cloud.githubusercontent.com/assets/15112256/20462320/5642d71a-af1a-11e6-901f-5d0106ac04d5.png)

[2016-11-20 11:11] nitramr commented on #22
Promotion Material. Scribus Indigo Light.
![scribus 1 5 3 svn - indigo light](https://cloud.githubusercontent.com/assets/15112256/20462321/653a75d4-af1a-11e6-9f8d-cd4288eefc86.png)

[2016-11-21 13:02] luzpaz commented on #13
@nitramr do you mind creating this just for testing purposes? Then when indigo merges with trunk we can remove this?

[2016-11-21 13:07] luzpaz commented on #13
@nitramr or kill 2 birds with one stone and implement [#13248](https://bugs.scribus.net/view.php?id=13248) using latest trunk since @MrB74 latest commits:
* https://github.com/scribusproject/scribus/commit/465154e23a86b99d7a5fda2a2b1d65757c588f7d
* https://github.com/scribusproject/scribus/commit/b27997ba7b8b3b03d159e9e5abe1e529ebf4efe6
* https://github.com/scribusproject/scribus/commit/15c324a295

[2016-11-21 13:34] nitramr commented on #13
Yes I mean a temporary fix while development. I will try to fix the params or think of better Solutions.

[2016-11-21 18:20] nitramr commented on #13
Oh my mistake, it is already fix :D. Ok, I will implement the fix.

[2016-11-21 20:04] nitramr commented on #13
I have add the latest code changes from 21st November. https://github.com/nitramr/scribus-indigo/commit/3d800ea5ae4d41c7ddbf594c78556417d2ebe398

[2016-11-21 21:28] luzpaz opened #29 "OSX TravisCI build fails because it exceeds compilation time"
https://github.com/nitramr/scribus-indigo/issues/17#issuecomment-261154103
Still not sure how to fix this...

[2016-11-21 22:33] nitramr commented on #29
there was a bug in OSX #ifdev, while compiling on Ubuntu I couldn't see it. Without a local compling on a mac it is like try and error. :(

[2016-11-21 22:44] luzpaz commented on #29
yea..i'll ask @MrB74 since he is on OSX. I don't have my macbook pro to test on anymore.
BTW, https://github.com/scribusproject/scribus/commit/91906e0be233053b61a0d58937eb8e2c962ad881 was just committed to fix a hunspell issue

[2016-11-21 22:50] nitramr commented on #29
The reason why is I replaced a lot of icons which uses a QPixmap with QIcon, because the new themes need a disabled state for icons and the best way was to store this state in an QIcon.

I'll add the the hunspell fix.

[2016-11-22 00:07] luzpaz commented on #13
Awesome, @MrB74 just committed code for [#13248](https://bugs.scribus.net/view.php?id=13248) in https://github.com/scribusproject/scribus/commit/f8d0609dff024ce9efce72c283af2df67125be5d so perhaps we can modify the README to tell people to invoke scribus-indigo with the new prefs flag. I have yet to test it out.

[2016-11-22 17:43] nitramr commented on #29
Travis CI has finished compiling for OSX

[2016-11-22 17:43] #29 closed

[2016-11-23 10:14] corebots commented on #28
Not sure if this is considered a theme issues, but I’d like to suggest the following:
- [ ] reduce black line (border) between dock and right dock-scrollbar (it’s now 3px as a result of the 2px dock frame plus 1px scroll-bar frame but looks odd)

[2016-11-26 23:00] nitramr commented on #22
![indigodocksheme](https://cloud.githubusercontent.com/assets/15112256/20644436/71152664-b434-11e6-8900-a17114af2f0a.png)

[2016-12-03 14:48] luzpaz opened #31 "Make ~/.config/scribus-indigo/ the default prefs dir"
Since SVN recently follows XDG standards...the new place for the Scribus preference files are in ~/.config/scribus instead of ~/.scribus
Invoking indigo-scribus with no flags will use the default scribus prefs and we don't want that. So ways around that, we can use some flags mentioned in https://wiki.scribus.net/canvas/CMake_Build_Options#1.5.x.svn.2B
like:
```APPLICATION_CONFIG_DIR : PATH  : spe

[2016-12-03 19:54] probonopd commented on #10
As of today, the AppImage is missing from the GitHub Releases page.

[2016-12-05 20:34] aoloe opened #32 "text properties to content palette"
craig has extracted the text properties from the properties palette.

now it's a standalone palette.

it would be nice if that standalone window would be converted to a content palette that contains the

- group
- image
- line
(- and eventually table)

section of the property palette.

only one of the content palette can be shown at any time, depending on the selected item.

[2016-12-05 23:09] nitramr commented on #32
Hey great, yesterday I merged the latest Oman CTL changes into indigo branch. In next days I will merge the latest updates too. Currently I'm working on panel layouts. Lets see how does fit the new changes with the indigo branch. Thanks for mention it.

[2016-12-06 06:34] luzpaz opened #33 "Proposal: color ramps"
http://imhere-asia.com/blog/post/color-ramp-improvements-in-upcoming-qgis-30
Just an idea on how to present choosing gradients in the UI.

[2016-12-06 06:51] luzpaz commented on #31
ref. https://github.com/nitramr/scribus-indigo/issues/13#issuecomment-262107820

[2016-12-06 21:01] nitramr opened #34 "Workspace loader can't handle missing entries in prefs file"
if an existing panel is missing in prefs it will add in an own floating window frame instead of additional to any dock.

IndigoDockManager.cpp line 499

[2016-12-06 21:02] nitramr commented on #33
Thanks

[2016-12-06 21:05] nitramr commented on #13
I found the reason for floating panels in separate windows. Workspace load function can't handle panels which are not defined in prefs file. I have opened a new issue and will close this one.
https://github.com/nitramr/scribus-indigo/issues/34

[2016-12-06 21:05] #13 closed

[2016-12-07 18:07] luzpaz opened #35 "floating toolbar after reopening scribus"
1. run Scribus;
2. drag toolbar to make it float;
3. close Scribus;
4. run Scribus - toolbars appear on their previous positions;
5. minimize Scribus window or switch to other app - floating toolbars float in front of all windows.

If you move toolbars after you run Scribus, they will start to hide/show together with Scribus window. But there is still some unpredictable behavior - randomly they wo

[2016-12-07 19:41] nitramr commented on #35
I can confirm. Looks like a general issue with floating toolbars and locked application windows by modals.
The same behavior you can reproduce in 1.5.3svn~r21596~20161206~ppa63~ubuntu16.04.1

I tested on KDE Neon 16.04

[2016-12-07 19:46] nitramr commented on #34
fixed!

Workspace loader will add panel leftovers if they are not already sorted. This fixes also broken workspace files or handle new panels.

[2016-12-07 19:46] #34 closed

[2016-12-07 19:50] luzpaz commented on #35
Any way to solve this? Would this be in the scope of scribus-indigo ?

[2016-12-07 19:51] luzpaz commented on #34
@nitramr fixed #34 in c5d132e79c17890369a18b4a83e40ab7504b194b

[2016-12-07 20:49] #25 closed

[2016-12-07 22:19] nitramr commented on #35
I made some tests, seems like not an easy task. QToolBar::topLevelChanged(bool topLevel) doesn't work if tool bar will restored.

[2016-12-16 03:48] luzpaz opened #37 "Build warnings for e308a9e15306874167838f0b747f53fd853f2aec"
```/home/ghee/projects/scribus-indigo/scribus-indigo/scribus/ui/propertiespalette_xyzbase.ui: Warning: Z-order assignment: 'rotationSpin' is not a valid widget.```

```/home/ghee/projects/scribus-indigo/scribus-indigo/scribus/themefactory.h:0: Note: No relevant classes found. No output generated.```

[2016-12-16 11:10] luzpaz opened #38 "Per the scribus-indigo wiki style guide philosophy: uniformity of the delete button"
Hey @nitramr
I was reading your style guide and remembered a ticket that @aoloe opened sometime ago: https://bugs.scribus.net/view.php?id=10162 "Find a common icon for the delete buttons"
I'm mentioning it here as a reference going forward.

[2016-12-20 22:56] luzpaz commented on #31
maybe you should hardcode it and if someone wants to specify a different config dir they can via the CLI when the run scribus-indigo ?

[2016-12-23 11:32] luzpaz opened #40 "Docs on how to customize Scribus"
@nitramr thanks for all the awesome work on Scribus-Indigo so far. I've opened a ticket on Mantis mentioning you in https://bugs.scribus.net/view.php?id=14498 this is a ticket requesting README.md needed for the Scribus Iconsets directory.

[code]

[2016-12-23 17:10] nitramr commented on #40
Something like that?
https://github.com/nitramr/scribus-indigo/wiki/Customize-Scribus

[2016-12-23 17:30] nitramr commented on #38
Cool, I have some ideas how we can unify it. A made a comment in the issue.

[2016-12-23 17:30] #38 closed

[2016-12-23 19:29] nitramr commented on #31
done in https://github.com/nitramr/scribus-indigo/commit/7239a8eb27c5f47bd33592949efaa6490facb884

[2016-12-23 19:44] #31 closed

[2016-12-24 10:50] luzpaz commented on #40
Can we use SVGs for icons as well ? They are more HiDPI friendly, right ?

[2016-12-24 11:15] nitramr commented on #40
Good idea. To achieve it we can modifiy the iconmanager.cpp and load SVG's via:

http://doc.qt.io/qt-5/qsvgrenderer.html

[code]
Based on this 'pix' Pixmap we can generate new QIcons with enabled / disabled states (as I used it for my themes). Based on screen type we can set a scale factor by generating the new QPixmaps.

I will make some tests to check it out.

But one hint at this point. We have

[2016-12-27 15:20] luzpaz commented on #19
can we close this issue guys ?

[2016-12-27 16:06] nitramr commented on #19
Yes, we can.

[2016-12-27 16:06] #19 closed

[2016-12-28 16:14] nitramr commented on #40
It is simplier as expected. Qpixmap can load nativly a SVG file. I have made a test with pages panel icon here: https://github.com/nitramr/scribus-indigo/commit/a8789628d03f1586202a917d6878a12ed1bba719

Bad thing of using SVG files is the file size. Regular png icon need ca 300 byte, SVG icon need 3,5KB
In latest commit there is still a scale factor missing to render the icon in right size.

My id

[2016-12-29 01:18] polpodan opened #42 "Error while compiling with qt 5.8 rc"
Used to work with qt 5.7.1
Here's the output

 [ 13%] Linking CXX shared module libtxtim.so
[ 13%] Building CXX object scribus/plugins/gettext/textfilter/CMakeFiles/textfilterplugin.dir/moc_tffilter.cpp.o
[ 13%] Built target txtim
[ 14%] Generating ui_pathdialogbase.h
[ 14%] Generating moc_pathdialog.cpp
[ 14%] Generating moc_pathalongpath.cpp
[ 14%] Building CXX object scribus/plugins/gettext/tex

[2016-12-29 12:03] nitramr commented on #42
Hi @polpodan did you get the same errors by compiling the official Scribus source code too?

In 5.7.1 there are a lot of changes and fixes. Maybe some old warnings are bugs yet. I will try to check it out by using 5.7.1. too.

[2016-12-29 13:20] polpodan commented on #42
I've got the same error with scribus-svn (using Arch Linux by the way)
Seems to be related to xtgscanner.cpp
By the way, it compiles fine with qt 5.7.1; i'm using qt 5.8 rc.
Thanks!

[ 90%] Building CXX object scribus/plugins/gettext/xtgim/CMakeFiles/xtgimplugin.dir/xtgscanner.cpp.o
/tmp/yaourt-tmp-danym/aur-scribus-svn/src/scribus/Scribus/scribus/plugins/gettext/xtgim/xtgscanner.cpp: Dans la fonc

[2016-12-29 15:15] nitramr commented on #12
Fixed in https://github.com/nitramr/scribus-indigo/commit/507a0649d764ead471419d5198d4d204c5d885ea

[2016-12-29 15:15] #12 closed

[2016-12-29 22:34] luzpaz commented on #42
@polpodan please open a ticket upstream in the official scribus bugtracker http://bugs.scribus.net

[2016-12-31 20:55] luzpaz commented on #40
opened a ticket at https://bugs.scribus.net/view.php?id=14528

[2017-01-06 18:11] luzpaz opened #43 "Take a look at QCAD dock"
http://www.qcad.org/en/

[2017-01-06 18:56] nitramr commented on #43
They uses a QDockWidget too. It is the same implementation like in offical Scribus repository.

[2017-01-06 18:58] luzpaz commented on #43
They use the horizontal dock as well. But I was wondering if they used any of your code as well ?

[2017-01-07 14:49] nitramr commented on #43
I couln't found any of my code. However, the standard QDockWidget support horizontal docking too. I think the magic happens in the content widget management inside the dock. The QCAD project uses a floating layout, which comes from Qt itself.
http://doc.qt.io/qt-5/qtwidgets-layouts-flowlayout-example.html

In the origin project of my IndigoDock plugin I'm was experimenting with this layout type, b

[2017-01-16 12:51] corebots commented on #10
the downloadlink to the Appimage on the wiki is dead =  Not Found. Is there an appimage for the latest version please? or perhaps a Flatpak ? would be really awsome to have a Flatpak for the scribus-indigo to test on Fedora btw!

[2017-01-16 20:57] probonopd commented on #10
Each Travis CI build log contains a transfer.sh download link which is active for 14 days. A current one is
https://transfer.sh/WIW1O/scribus-git34e313e-glibc2.14-x86-64.appimage
It should run on Fedora, as well as almost every other Linux distribution since 2014.

[2017-04-19 21:59] corebots commented on #19
hello, i just got the same error on Fedora 26, the above mentioned command helped and solved it, thanks :)

[2017-04-19 22:17] corebots opened #44 "setting font sizes in the preferences changes theme :)"
running your latest AppImage, in the Preferences pane > User Interface > Font sizes - changing the font size for menus and palettes seems quirky and changes to a different ui theme altogether.

[2017-08-16 21:00] afincato opened #46 "Could not find a package configuration file provided by "Qt5Core""
Hi,
this bug is specifically related to building Scribus on macOS with all the software installed through homebrew.

When running
[code]

from `scribus/bin`

I get the following error (tail)

[code]

I tried to follow some of the suggestions shared here [Qt5 Cmake Files Incorrect #29938](https://github.com/Homebrew/legacy-homebrew/issues/29938) but without luck.

How do you correctly build Scribus

[2017-11-07 23:16] l00kanio opened #47 "doesn't compile on poppler 0.60"
When I try to compile Scirbus-Indigo (from Arch's aur), build dies on building importpdf plugin with:

make[2]: *** [scribus/plugins/import/pdf/CMakeFiles/importpdf.dir/build.make:78: scribus/plugins/import/pdf/CMakeFiles/importpdf.dir/importpdf.cpp.o] Error 1
make[1]: *** [CMakeFiles/Makefile2:1810: scribus/plugins/import/pdf/CMakeFiles/importpdf.dir/all] Error 2
make: *** [Makefile:152: all] Err

[2017-11-08 17:52] nitramr commented on #47
Hi l00kanio, next time when I'm merge the original Scribus base with the Indigo branch it should be fixed. Currently I'm focusing on another project for polishing the UI. Could be take a while until I have time to update the indigo branch.

Pull requests are welcome too. ;)

[2017-11-12 00:08] l00kanio commented on #47
Thank you for positive feedback. So I keep fingers crossed for your work :-)

[2017-11-12 11:28] #47 closed

[2018-04-01 17:27] stefanhusmann opened #49 "Build error with recent versions of icu"
See https://bugs.scribus.net/view.php?id=15236

The fix mentioned there is needed and works fine also for scribus' indigo.

[2018-11-13 06:57] Mazaduk opened #50 "AppImage doesn't work; some iconmanager error when compiling"
Dear Scribus-Indigo devs,
When will things be updated for 2018? I'm a newb at linux and programming stuff, and scribus normally has a weird interface, so I wanted to try this version looking at the screenshots. At the moment, I'm not having any success getting it work.

Thanks for your work. If I can help (or learn to help) in any way with development, please let me know; no guarantees, just inter

[2018-11-19 22:34] probonopd commented on #50
You realize that this hasn't been touched in 2 years? Check out
https://sourceforge.net/projects/scribus/files/scribus-devel/1.5.4/

[2019-10-09 11:58] cambo2015 opened #51 "Compiling in Manjaro AUR"
Is it possible compile this in Manjaro ? I'm somewhat new to Linux.

[2019-10-10 20:00] nitramr commented on #51
Hi cambo2015,
yes it is possible. You need cmake and all dependencies that are listed in readme file. If you follow the instructions you can compile it.

But it is still in an experimental state.

[2019-10-10 20:01] micker commented on #51
hi this project is stoped or you think you can continu ? => it will be a revolution for scribus

[2019-10-10 22:15] cambo2015 commented on #51
That's great to hear nitrimr☺Thanks.

[2019-10-11 17:32] nitramr commented on #51
@micker

That is why I started this project. :)

I think it is better to start the implementation from scratch. Please, check out my answer in Scribus forums.
http://forums.scribus.net/index.php/topic,1617.msg16308.html#msg16308

[2022-01-27 23:54] luzpaz commented on #51
@nitramr any progress on this?